.text-justify{
   text-align: justify;
}
.ht-75{
   height: 500px;
}
.ht-125{
   height: 250px;
}

.w-18rem{
   width: 18rem;
}
.img-150{
   height: 150px;
}
.bg-red{
   background-color: rgb(255, 15, 15);
}
.bg-green1{
   background-color: green;
}
.bg-green2{
   background-color: rgb(17, 216, 17);
}
.bg-grey1{
   background-color: rgb(207, 207, 207);
}
